<h1>Add Your Car</h1>
<form action="/new-car">
  <label for="makeModel">Make/Model</label><br>
  <input id="makeModel" name="makeModel" type="text"><br><br>
  <label for="year">Year</label><br>
  <input id="year" name="year" type="text"><br><br>
  <label for="miles">Miles</label><br>
  <input id="miles" name="miles" type="text"><br><br>
  <label for="price">Price</label><br>
  <input id="price" name="price" type="text"><br><br>

  <button type="submit">Submit</button>
</form>
<a href="/">View List</a>
