<h1>Add Your Car</h1>
<form action="/cars">
  <label for="makeModel">Make/Model</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="year">Year</label>
  <input id="year" name="year" type="text">
  <label for="miles">Miles</label>
  <input id="miles" name="miles" type="text">
  <label for="price">Price</label>
  <input id="price" name="price" type="text">

  <button type="submit">Submit</button>
</form>
