<h1>List</h1>
<ul>

  @foreach(var car in Model)
  {
    <li>@car.GetMakeModel()</li>
    <li>@car.GetYear()</li>
    <li>@car.GetMiles()</li>
    <li>@car.GetPrice()</li>
    <li>-----</li>
  }

</ul>


<a href="/addList">Add your car</a>
